SERVER_ADDRESS=localhost:8081
DATABASE_URL=
DB_HOST=localhost
DB_NAME=database_name_db
DB_USER=postgress
DB_PASSWORD=Password_db
DB_PORT=5432
ACCESS_TOKEN_PRIVATE_KEY_PATH=./access-private.pem
ACCESS_TOKEN_PUBLIC_KEY_PATH=./access-public.pem
REFRESH_TOKEN_PRIVATE_KEY_PATH=./refresh-private.pem
REFRESH_TOKEN_PUBLIC_KEY_PATH=./refresh-public.pem
JWT_EXPIRATION=30
SENDGRID_API_KEY=<get it from_https://app.sendgrid.com>
MAIL_VERIFICATION_CODE_EXPIRATION=24
PASSWORD_RESET_CODE_EXPIRATION=15
MAIL_VERIFICATION_TEMPLATE_ID=<get it from https://mc.sendgrid.com/dynamic-templates>
PASSWORD_RESET_TEMPLATE_ID=<get it from https://mc.sendgrid.com/dynamic-templates>
MAIL_SENDER=yourmail@example.com