[Unit]
Description=Love letter APIs
After=multi-user.target

[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/local/src/love_letter/auth

[Install]
WantedBy=multi-user.target